/*
 Theme Name:   LovetereWP
 Theme URI:    http://andrea.com/twentysixteen-child/
 Description:  ANDREA LO VETERE Theme
 Author:       Francisco Vidal
 Author URI:   http://franciscovidalalex.es
 Template:     twentysixteen
 Version:      1.0.0
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twenty-sixteen-child
*/
@import url("../twentysixteen/style.css");

/* =Aquí empieza la personalización de tu tema
-------------------------------------------------------------- */

#over{ /*not in use*/
	position:absolute;
	top:0;
	left:0;
	z-index:100;
	opacity:.5;
}

body {
  
}

@font-face {
  font-family: 'GTAmerica-Regular';
  src: url('fonts/GTAmerica-Regular/GTAmerica-Regular.eot');
  src: url('fonts/GTAmerica-Regular/GTAmerica-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/GTAmerica-Regular/GTAmerica-Regular.svg#GTAmerica-Regular') format('svg'),
       url('fonts/GTAmerica-Regular/GTAmerica-Regular.ttf') format('truetype'),
       url('fonts/GTAmerica-Regular/GTAmerica-Regular.woff') format('woff'),
       url('fonts/GTAmerica-Regular/GTAmerica-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'GTAmerica-Medium';
  src: url('fonts/GTAmerica-Medium/GTAmerica-Medium.eot');
  src: url('fonts/GTAmerica-Medium/GTAmerica-Medium.eot?#iefix') format('embedded-opentype'),
       url('fonts/GTAmerica-Medium/GTAmerica-Medium.svg#GTAmerica-Medium') format('svg'),
       url('fonts/GTAmerica-Medium/GTAmerica-Medium.ttf') format('truetype'),
       url('fonts/GTAmerica-Medium/GTAmerica-Medium.woff') format('woff'),
       url('fonts/GTAmerica-Medium/GTAmerica-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GTAmerica-ExtendedRegular';
  src: url('fonts/GTAmerica-ExtendedRegular/GTAmerica-ExtendedRegular.eot');
  src: url('fonts/GTAmerica-ExtendedRegular/GTAmerica-ExtendedRegular.eot?#iefix') format('embedded-opentype'),
       url('fonts/GTAmerica-ExtendedRegular/GTAmerica-ExtendedRegular.svg#GTAmerica-ExtendedRegular') format('svg'),
       url('fonts/GTAmerica-ExtendedRegular/GTAmerica-ExtendedRegular.ttf') format('truetype'),
       url('fonts/GTAmerica-ExtendedRegular/GTAmerica-ExtendedRegular.woff') format('woff'),
       url('fonts/GTAmerica-ExtendedRegular/GTAmerica-ExtendedRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GTAmerica-ExtendedMedium';
  src: url('fonts/GTAmerica-ExtendedMedium/GTAmerica-ExtendedMedium.eot');
  src: url('fonts/GTAmerica-ExtendedMedium/GTAmerica-ExtendedMedium.eot?#iefix') format('embedded-opentype'),
       url('fonts/GTAmerica-ExtendedMedium/GTAmerica-ExtendedMedium.svg#GTAmerica-ExtendedMedium') format('svg'),
       url('fonts/GTAmerica-ExtendedMedium/GTAmerica-ExtendedMedium.ttf') format('truetype'),
       url('fonts/GTAmerica-ExtendedMedium/GTAmerica-ExtendedMedium.woff') format('woff'),
       url('fonts/GTAmerica-ExtendedMedium/GTAmerica-ExtendedMedium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GTAmerica-ExpandedMedium';
  src: url('fonts/GTAmerica-ExpandedMedium/GTAmerica-ExpandedMedium.eot');
  src: url('fonts/GTAmerica-ExpandedMedium/GTAmerica-ExpandedMedium.eot?#iefix') format('embedded-opentype'),
       url('fonts/GTAmerica-ExpandedMedium/GTAmerica-ExpandedMedium.svg#GTAmerica-ExpandedMedium') format('svg'),
       url('fonts/GTAmerica-ExpandedMedium/GTAmerica-ExpandedMedium.ttf') format('truetype'),
       url('fonts/GTAmerica-ExpandedMedium/GTAmerica-ExpandedMedium.woff') format('woff'),
       url('fonts/GTAmerica-ExpandedMedium/GTAmerica-ExpandedMedium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'GTSectraFine-Regular';
  src: url('fonts/GTSectraFine-Regular/GTSectraFine-Regular.eot');
  src: url('fonts/GTSectraFine-Regular/GTSectraFine-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/GTSectraFine-Regular/GTSectraFine-Regular.svg#GTSectraFine-Regular') format('svg'),
       url('fonts/GTSectraFine-Regular/GTSectraFine-Regular.ttf') format('truetype'),
       url('fonts/GTSectraFine-Regular/GTSectraFine-Regular.woff') format('woff'),
       url('fonts/GTSectraFine-Regular/GTSectraFine-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'gt_sectra_finemedium';
    src: url('fonts/GTSectraFine-Medium/gtsectrafine-medium-webfont.eot');
    src: url('fonts/GTSectraFine-Medium/gtsectrafine-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/GTSectraFine-Medium/gtsectrafine-medium-webfont.woff2') format('woff2'),
         url('fonts/GTSectraFine-Medium/gtsectrafine-medium-webfont.woff') format('woff'),
         url('fonts/GTSectraFine-Medium/gtsectrafine-medium-webfont.ttf') format('truetype'),
         url('fonts/GTSectraFine-Medium/gtsectrafine-medium-webfont.svg#gt_sectra_finemedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'GTSectraFine-Bold';
  src: url('fonts/GTSectraFine-Bold/GTSectraFine-Bold.eot');
  src: url('fonts/GTSectraFine-Bold/GTSectraFine-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/GTSectraFine-Bold/GTSectraFine-Bold.svg#GTSectraFine-Bold') format('svg'),
       url('fonts/GTSectraFine-Bold/GTSectraFine-Bold.ttf') format('truetype'),
       url('fonts/GTSectraFine-Bold/GTSectraFine-Bold.woff') format('woff'),
       url('fonts/GTSectraFine-Bold/GTSectraFine-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body{background-color:#f3f3f4;}

body:not(.custom-background-image).admin-bar::before,
body:not(.custom-background-image)::after,
body:not(.custom-background-image)::before {  display:none!important;}

html, body {
	font-size:1em;
  height: auto;
  margin: 0;
  overflow-x: hidden;
}

.wrapper{
	width:100%;
	float:left;
}

.wrapper > section{
	width:100%;
	max-width:1570px;
	margin:0px auto;
	overflow:hidden;
}

.wrapper > section header{
	width:64%;
	float:right;
}

.wrapper > section header h1 {
    width: 100%;
    float: left;
    text-align: left;
    margin-top: 5.4%;
    margin-bottom:100px;
    font-family: 'GTAmerica-ExpandedMedium';
	/*font-size: 15.625em;*/
	font-size: 13vw;
	line-height: 200px;
}

/*----------------------------------------- HEADER ---------------------------------------*/

#cabecera{
	width:auto;
	max-width:1570px;
	margin:0px auto;
	margin-top:100px;
	margin-left:175px;
	margin-right:175px;
}

.logo {
    display: block;
    width: 100%;
    float: left;
    max-width: 270px;
    margin-left: -89px;
    margin-top: -1px;
}

.about{
	font-family: 'GTAmerica-ExtendedRegular';
	display:block;
	float:left;
	/*margin-left: 10.5%;*/
	margin-left: 163px;
	color:#000;
	/*font-size:2.250em;
	font-size:1.8vw;*/
	font-size: 34px;
	letter-spacing: 1px;
	text-decoration:none;
}

.about:hover{
	color:#000;
	text-decoration:underline;
}


/*#cabecera > article{
	width: 15.3%;
	float:right;
	margin-top: .8%;
}*/

#cabecera > article {
    width: 175px;
    float: right;
    margin-top: .6%;
    margin-right: 81px;
}

#cabecera > article a, 
#cabecera > article p {
    display: block;
    color: #000;
    font-family: 'GTAmerica-Regular';
    /*font-size: .95vw;*/
   font-size:18px;
    line-height: 24px;
    letter-spacing: -0.1px;
}

#cabecera > article a:hover{
	color:#000;
	text-decoration:underline;
}

/*.rrss {
    width: 5.5%;
    float: right;
    margin-top: .7%;
    position: relative;
    margin-left: 0;
}*/

/* .rrss {
    width: 85px;
    float: right;
    margin-top: 10px;
    position: relative;
    margin-left: 0;
    right: 0px;
} */

.rrss li, ul.footer-flex.footer-flex2 li {
    width: 100%;
    float: left;
    list-style: none;
    line-height: 30px;
    margin-bottom: -1px;
}

.rrss li a, .social--details-mob a, ul.footer-flex.footer-flex2 li a {
    color: #000 !important;
    font-family: 'GTAmerica-Medium' !important;
    /*font-size: 1vw;*/
    font-size: 19px !important;
    text-align: left !important;
    letter-spacing: -0.8px !important;
}

.rrss li a:hover{
	color:#000;
	text-decoration:underline;
}

/*#site-navigation {
    width: 11.46%;
    position: absolute;
    left: 185px;
    top: 263px;
}*/

/* #absolute-layout #site-navigation {
    width: 11.46%;
    position: relative;
    left: 12px;
    top: 119px;
} */

.main-navigation .primary-menu > li{
	width:100%;
	float:left;
	padding:0;
	margin-bottom: 4px;
}

.main-navigation a {
    padding: 0;
    font-family: 'GTAmerica-ExtendedRegular';
    /*font-size: 1.8vw;*/
    line-height: 40px;
    letter-spacing: 0.5px;
    font-size: 34.5px;
}

.main-navigation li:hover > a, .main-navigation li.focus > a {
    color: #000;
    text-decoration:underline;
}

.main-navigation .current-menu-item > a, .main-navigation .current-menu-ancestor > a {
    font-weight: normal;
    /*text-decoration:underline;*/
}

.main-navigation li {  border-top: none;}


/*----------------------------------------- FOOTER ---------------------------------------*/

.wrapper footer{
	padding-top:80px;
	padding-bottom:80px;
} 

footer #site-navigation {
    float: none;
    position: relative !important;
    left: 0 !important;
    top: 0 !important;
    /* margin: 0 !important; */
}

.contact-footer p {
    letter-spacing: -0.8px;
}

footer .rrss li a { letter-spacing: -0.5px;}

footer .main-navigation a {  line-height: 38px;}

footer .main-navigation li {  margin-top: 0.2px;}

footer .about {
    display: block;
    float: left;
    margin-left: 0%;
    color: #000;
    text-decoration: none;
    margin-bottom: 87px;
    font-family: 'GTAmerica-ExtendedRegular';
    /*font-size: 1.8vw;*/
   font-size:35px;
    line-height: 40px;
    letter-spacing: .3px;
}

/*----------------------------------------- WORKS ---------------------------------------*/



.titulo-works h1 {
    font-family: 'GTAmerica-ExpandedMedium';
    width: 100%;
    float: left;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 220px;
    line-height: 0.87;
    font-weight: 100 !important;
}

.works a {
    display: block;
    float: left;
    height: auto;
    position: relative;
}

.works a figure, .works a figure img {
    width: 100%;
    float: left;
    height: auto;
}

.works a article {
    position: absolute;
    z-index:9999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(51,120,97,0.9);
    opacity: 0;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
}

.works a:hover article{opacity:1; cursor:hand;}

.works a article:hover{ cursor:hand;}

.works a figure img{
	transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: grayscale(0%);
}

.works a:hover figure img{
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
}

.works a article h2 {
	font-family: 'GTAmerica-ExtendedRegular';
    color: #fff;
    /*font-size: 2.250em;
    font-size:2.25vw;
   font-size:32px;*/
   font-size: 1.6vw;
    clear: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: normal;
    position: absolute;
    top: 48%;
    width: 100%;
}

.works a article h3 {
	font-family: 'GTSectraFine-Regular';
    color: #fff;
    /*font-size: 2.250em;
   font-size:1.6em;
   font-size:32px; */
  font-size: 1.6vw;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    clear: none;
    margin: 0;
    padding: 0;
    font-weight: normal;
    position: absolute;
    display: inline-block;
    line-height: 36px;
    width:1000px;
}

.works a article h3 span {
    margin-right: 5px;
    display: inline-block;
    background-color: #fff;
    height: 2px;
    width: 30px;
    position: relative;
    top: 20px;
}

.descripcion {
	left: -451px;
	top: 542px;
	text-align: right;
    /*width: 380px;*/
}

/*.descripcion::before {
    content: '';
    background-color: #fff;
    width: 30px;
    height: 2px;
    position: absolute;
    top: 20px;
    left: -40px;
}*/

.categoria {
    left: -101px;
    width: 300px !important;
    text-align: left;
    bottom: 187px;
}


/*works01*/

#works1 {  margin-top: -137px;}

/*.works a.works1-0 {
    width: 83%;
    max-width: 1557px;
    margin-left: 174px;
    z-index: 0;
    margin-bottom: 35px;
}*/

.works a.works1-0 {
    width: auto;
    max-width: 63.5%;
    z-index: 0;
    margin-bottom: 46px;
    margin-left: 350px;
}

.works a.works1-0:hover{z-index:2;}

.works a.works1-1 {
    width: 52%;
    max-width: 988px;
    float: left;
    z-index: 1;
    max-height: 752px;
    overflow: hidden;
}


.works a.works1-2 {
    width: 27.3%;
    max-width: 518px;
    margin-left: 52px;
    z-index: 1;
    margin-right: 35px;
}


/*works02*/

#works2 { margin-top: 44px;}

.works a.works2-0 {
    width: 63.6%;
    max-width: 1561px;
    margin-left: 27.1%;
    z-index: 0;
}

/*.works a.works2-0:hover{z-index:2;}*/

.works a.works2-1 {
    width: 36.4%;
    max-width: 694px;
    margin-left: 174px;
    z-index: 0;
    margin-top: 183px;
}

.works a.works2-2 {
    width: 27.1%;
    max-width: 517px;
    float: left;
    z-index: 1;
    margin-top: -92px;
    margin-left: 178px;
}

/*.works a.works2-2:hover{z-index:2;}

.works2-1 .descripcion {
    left: -93px;
    top: 169px;
    text-align: right;
    width: 380px;
}*/

/*works03*/

#works3{margin-top:46px;}

.works a.works3-0 {
    width: 64.5%;
    max-width: 1215px;
    margin-left: 348px;
    z-index: 0;
}

.works a.works3-1 {
    width: 27.6%;
    max-width: 526px;
    margin-left: 27.23%;
    z-index: 0;
    margin-top: -25px;
}

/*.works a.works3-2 {
    width: 27.5%;
    max-width: 520px;
    margin-left: 9.1%;
    z-index: 0;
    margin-top: 183px;
}*/

.works a.works3-2 {
    width: 27.5%;
    max-width: 520px;
    z-index: 0;
    margin-top: 183px;
    float: right;
    margin-right: 178px;
}

/*works04*/

#works4{margin-top:-30px;}

.works a.works4-0 {
    width: 63.8%;
    max-width: 1216px;
    z-index: 0;
    margin-bottom: 54px;
    margin-left: 348px;
}

.works a.works4-1 {
    width: 36.5%;
    max-width: 692px;
    /*margin-left: 9.1%;*/
   margin-left:175px;
    z-index: 0;
}

/*.works a.works4-2 {
    width: 36.5%;
    max-width: 692px;
    margin-left: 9.1%;
    z-index: 0;
}*/

.works a.works4-2 {
    width: 27.3%;
    float: left;
    max-width: 692px;
    margin-left: 174px;
    z-index: 0;
    margin-top: 121px;
}

/*PACKAGING*/

.page-id-14 .works1-0{display:none;}

/*IDENTITY*/

.page-id-12 #works1{display:none;}

.page-id-12 #works2{margin-top: -142px;}

/*----------------------------------------- ABOUT ---------------------------------------*/

.page-template-about .wrapper > section{
    width:auto;
    max-width: 100% !important;
	margin-left:0;
	margin-right:0;
}

/* .page-template-about .wrapper > section header {
    width: 79.5%;
    float: right;
} */

/* .about-page{margin-top:-9%;} */

/* .wrappe.about-page > section header h1{margin-top:0;} */


/* .txt-about{
	width: 77.5%;
	float:right;
} */

.txt-about{
    margin: 0 0 60px 590px;
    max-width: 830px;
    
}

.txt-about p{
	font-family: 'GTAmerica-Regular';
    font-size: 22px;
    line-height: 1.5;
    
}

.txt-about p:nth-of-type(1){padding-right:125px;}
.txt-about p:nth-of-type(2){padding-left:125px;}
.txt-about p:nth-of-type(3){padding-right:125px;}

.txt-about p:last-of-type{margin-bottom:0;}

.page-template-about figure, .page-template-about figure img{
	width:100%;
	height:auto;
	float:left;
}

.page-template-about figure{margin:90px 0;}

.servicios{
	width: 50%;
	float:left;
	border-top:1px solid #000;
	padding-top:40px;
}


.servicios:nth-of-type(2){margin-bottom:130px;}

.servicios h2{
	width:100%;
	float:left;
	margin-right:11.45%;
	/*font-family: 'GTSectraFine-Bold';*/
	font-family: 'gt_sectra_finemedium';
	font-weight:normal;
	/*font-size:1.750em;
	line-height:36px;*/
	font-size: 1.46vw;
	line-height: 1.87vw;
	/* margin-bottom: 40px; */
}

/* .servicios:nth-of-type(2n+1) h2{margin-left:14%;} */


.servicios ul{
	width:36.45%;
	float:left;
	list-style:none;
	margin:0;
	font-family: 'GTAmerica-Regular';
	/*font-size:1.750em;
	line-height:36px;*/
	font-size: 1.46vw;
	line-height: 1.87vw;
	margin-left:36%;
}


/*----------------------------------------- PROYECTO ---------------------------------------*/

.page-template-ejemplo #cabecera{margin-top:0; position:relative;top: 87px;}

.page-template-ejemplo  #site-navigation {  left: 11px;}

/*.page-template-work .images-works{
    height: 100%;
    width: 100%;
    margin: 0;
    float:left;
    overflow:hidden;
}

.images-works img {
    height: 100%;
    width: 120%;
    max-width: none;
    margin-left:-10%;
}*/


.page-template-work .wrapper.pie,
.page-template-work .wrapper.pie .fp-tableCell{height:auto!important;}

#smoothup {position: fixed;height: 90px;width: 90px;bottom: 175px;right: 50px;text-indent: -9999px;display: none;background-image:url('images/up.svg');background-repeat:no-repeat;background-size:94% auto;z-index: 100;background-position:center;}
#smoothup2 {position: fixed;height: 85px;width: 85px;bottom: 75px;right: 50px;text-indent: -9999px;display: none;background-image:url('images/Artboard.svg');background-repeat:no-repeat;background-size:100% auto;z-index: 100; }
.home #smoothup2 {display: none !important;}
#smoothup:hover, #smoothup2:hover{background-color:#ededed;border-radius:50%;}



.page-template-work .wrapper  section{
	width:auto;
	max-width:1570px;
	margin:0px auto;
	float:left;
	margin-right:175px;
}



.page-template-work figure{
	float:right;
	/* width:70.65%; */
	/* margin-top: -4.5%; */
	margin-bottom:145px;
}

.page-template-work video{width:100%;float:left;}

/* e-mark */
.images-works, .images-works img {
    width: 100% !important;
    margin: 0 !important;
}
.page-template-work h1{
	width:100%;
	float:left;
	margin-bottom:110px;
	font-family: 'GTAmerica-ExtendedMedium';
	/*font-size:2.250em;*/
	/* font-size: 1.87vw; */
	line-height:48px;
	text-transform:uppercase;
    font-weight:normal;
    margin-left: 138px;
}

.txt-project{
	width:63%;
	float:left;
	margin-bottom:150px;
}

.txt-project h2{
	width:26%;
	float:left;
	margin-bottom:0;
	/*font-family: 'GTSectraFine-Bold';
	font-size:2.250em;*/
	font-family: 'gt_sectra_finemedium';
	/* font-size: 1.87vw; */
	line-height:48px;
    font-weight:normal;
    margin-left: 138px;
    font-size: 27px;
}

.txt-project p{
	width:40%;
	float:left;
	margin-bottom:0;
    font-family: 'GTAmerica-Regular';
    font-size: 24px;
    line-height: 44px;
	/*font-size:1.750em;
	 line-height: 48px;
	 line-height:36px;*/
	/* font-size: 1.4vw; */
	/* line-height: 2.2vw; */
	/* margin-left:5.7%; */
	
}

.page-template-work section ul {
    width: 30%;
    float: right;
    list-style: none;
    padding-left: 50px;
    margin: 0;
}

.page-template-work section ul li{
	width:100%;
	float:left;
}

.page-template-work section ul li strong,
.page-template-work section ul li span{
	display:inline-block;
	width:30%;
	float:left;
	font-family: 'GTAmerica-Regular';
	font-size:18px;
	/* font-size: .94vw; */
}

.page-template-work section ul li strong{
	font-weight:normal;
	font-family: 'GTAmerica-Medium';
}

.page-template-work section ul li span{width:70%;}



/*-------------------------------------------------------1800px-------------------------------------------------------*/

@media (max-width: 1800px){
    /* #works1 {  margin-top: -130px;} */
    .works a.works3-0 { margin-left: 335px;}
    .works a.works2-1 { margin-top: 9.2%;}
    .page-template-work .wrapper figure,
    .page-template-work video{ width: 70.9%;}
    .txt-project {   width: 73%;}
    /* .txt-project p { margin-left: 4.5%;} */
    .works a.works1-2 {  width: 30%; margin-left: 38px;}
    /* .page-template-about .wrapper > section header{ width: 77.7%;} */
    .wrapper > section header h1 { margin-top: 4%;}
    /* .txt-about { width: 76%;} */
}

/*-------------------------------------------------------1680px-------------------------------------------------------*/

@media (max-width: 1680px){
    .works a.works1-2 { width: 32%;margin-left: 25px;}
    .works a.works2-1 { margin-top: 8.8%;}
    .page-template-work .wrapper figure, 
    .page-template-work video {width: 68.9%;}
    /* .txt-project p {  margin-left: 4%;}  */
    /* .page-template-about .wrapper > section header{ width: 75.5%;} */
    .wrapper > section header h1 { margin-top: 2.5%;}
    /* .txt-about { width: 73.7%;} */
}

/*-------------------------------------------------------1600px-------------------------------------------------------*/

@media (max-width: 1600px){
    #cabecera,
    .wrapper > section,
    .page-template-work .wrapper section {  max-width: 95%;}
    /* #works1 {  margin-top: -120px;} */
    .works a.works1-1 { width: 50%;}
    .works a.works1-2 {width: 34%;margin-left: 45px;}
    .works a.works2-1 { margin-top: 8.6%;}
    .page-id-12 #works2 { margin-top: -135px;}
    .page-template-work .wrapper figure, .page-template-work video {width: 67.3%;}
    /* .txt-project p { margin-left: 3.5%;} */
    .page-template-work section ul {  margin-top: .5%;}	
    .works a.works3-2 { margin-top: 178px;}
    /* .page-template-about .wrapper > section header{ width: 73.8%;} */
    .wrapper > section header h1 { margin-top: 1.5%;}
    /* .txt-about { width: 72.1%;} */
}	


/*-------------------------------------------------------1440px-------------------------------------------------------*/

@media (max-width: 1440px){
    /* #works1 {  margin-top: -100px;} */
    .works a.works1-1 { width: 50.8%;}
    .works a.works1-2 { width: 35%; margin-left: 33px;}
    .works a.works2-1 {  margin-top: 7.9%;}
    .works a.works2-2 { margin-left: 175px;}
    .works a.works3-2 { margin-right: 131px;}
    .page-id-12 #works2 {  margin-top: -115px;}
    /* .txt-project p {  margin-left: 1.7%;} */
    .page-template-work .wrapper figure, 
    .page-template-work video {width: 63.5%;}
    /* .page-template-about .wrapper > section header{ width: 69.7%;} */
    .wrapper > section header h1 { margin-top: -1%;}
    /* .txt-about { width: 67.9%;}
    .txt-about p { width: 65%;} */
}


/*-------------------------------------------------------1360px-------------------------------------------------------*/

@media (max-width: 1360px){
    #cabecera > article {  width: 17.6%;}	
    /* footer .about {  margin-bottom: 82px;} */
    footer .rrss { left: 40px;}	
    /* #works1 {  margin-top: -160px;} */
    .works a.works1-0 { margin-left: 333px;}
    .works a.works4-2 { margin-left: 137px;}
    .works a.works2-0 { margin-left: 32.1%;}
    .works a.works2-1 {  margin-top: 7.5%;}
    .works a.works4-2 { margin-left:10%;}
    /* .page-template-about .wrapper > section header {  width: 67.2%;} */
    .wrapper > section header h1 {  margin-top: -2.5%;}
    /* .txt-about { width: 65.5%;}
    .txt-about p { width: 65%;} */
    .page-template-work figure, 
    .page-template-work video {  margin-top: 0%;}
}	



/*-------------------------------------------------------1280px-------------------------------------------------------*/

@media (max-width: 1280px){
    /* #works1 { margin-top: -150px;} */
    .works a.works1-2 { margin-left: 51px;}
    .works a.works4-2 { margin-left: 8.5%;}
    .works a.works2-1 { margin-top: 7.2%;}
    .wrapper > section header h1 {  margin-top: -4.5%;}
    /* .page-template-about .wrapper > section header {  width: 64.2%;} */
    /* .page-template-about .wrapper > section header h1{font-size: 12vw;} */
    /* .txt-about {  width: 62.5%;}
    .txt-about p {  width: 70%;} */
    /* .page-template-work figure, 
    .page-template-work video {  margin-top: 7%;} */
    .page-template-work section ul {  width: 24.3%;}
}

/*-------------------------------------------------------1140px-------------------------------------------------------*/

@media (max-width: 1140px){
    .about {  margin-left: 7.5%;}	
    #cabecera > article {  width: 22%;}	
    .works a.works1-2 { margin-left: 82px;}
    .works a.works2-1 { margin-top: 6.2%;}
    .works a.works4-2 { margin-left: 5%; margin-top: 60px;}
    .wrapper > section header h1 {  margin-top: -9.5%;}
    /* .page-template-about .wrapper > section header h1 {  font-size: 11.5vw;} */
    /* .page-template-work figure, 
    .page-template-work video {  margin-top: 8%;} */
    }

/*-------------------------------------------------------1024px-------------------------------------------------------*/

@media (max-width: 1024px){
    .main-navigation a { font-size: 2em;line-height: 35px;}	
    #cabecera > article { width: 24%;}	
    .about {margin-left: 4.5%;}
    footer .rrss {width: 11%;left: 0;float: right;}
    .works a.works1-2 { margin-left: 108px;}
    .works a.works2-1 {  margin-top: 5.4%;}
    .works a.works4-2 { margin-left: 1.5%;}
    /* .page-template-about .wrapper > section header h1 {  font-size: 11vw;} */
    /* .txt-about p { width:100%;font-size: 1.6vw;} */
    /* .page-template-work figure,  .page-template-work video { margin-top: 6.5%;} */
}



/************************************************** eugene's css **************************************************/

/* specific pages header image fix */
/* HOME */
.page-id-2 .works1-0{}
/* ABOUT */
.page-id-27{}
/* ADVERTISING */
.page-id-10{}
/* IDENTITY */
.page-id-12{}
/* PACKAGING */
.page-id-14{}
/* EDITORIAL */
.page-id-16{}
/* UX */
.page-id-19{}

.wrapper > section{width: 100% !important;}

/* footer pixel perfect */


/* footer fix */
.footer{background-color: #d9d9d9 !important;margin-top: 60px !important;}
.wrapper footer{max-width: 1700px !important;width: 100% !important; background-color:#d9d9d9 !important; border-top: none !important;display: flex;height: 366px;}

/* footer global styles */
footer #site-navigation{padding-left: 138px !important;}
.wrapper footer .social--container{display: flex !important;justify-content: space-between;}

.footer-flex{}
.footer-flex.footer-flex1{flex: 0 0 30%;}
article.footer-flex.footer-flex2{flex: 0 0 20%;display: flex; flex-direction: column; justify-content: space-between;width: 200px;}
ul.footer-flex.footer-flex2{padding-left: 113px !important;margin: 0 !important;}
ul.footer-flex.footer-flex2 p:nth-child(1) a{display: block;}
ul.footer-flex.footer-flex2 p:nth-child(2){font-weight: bold;color: #000;font-family: 'GTAmerica-ExpandedMedium', arial, sans-serif;margin-bottom: 0;font-size: 18.5px !important; line-height: 28px !important;}
.social--container a, .social--container p, .contact--details-mob a, .contact--details-mob p{color:#000;font-family: 'GTAmerica-Regular';font-size: 18px !important;line-height: 1.4 !important;}
.social--container p{margin-bottom: 0 !important;}
.social--container .rrss li{line-height: 30px !important;}
.social--container .rrss li a, .social--details-mob a{color:#000;font-size: 18px !important;}


.footer-flex.footer-flex3{flex: 0 0 40%;padding-left: 164px;display: flex; flex-direction: column;justify-content: space-between}
.footer-flex.footer-flex3 p:nth-child(1){color: #000;font-family: 'GTSectraFine-Regular';font-size: 18px;margin-bottom: 0;line-height: 24px;max-width: 90%;}
.footer-flex.footer-flex3 p:nth-child(2){font-weight: bold;color: #000;font-family: 'GTAmerica-ExpandedMedium', arial, sans-serif;font-size: 20.4px;margin-bottom: 0;line-height: 16.32px;}
.footer-flex.footer-flex3 .footer--copyright{font-weight: normal;color: #000;font-family: 'GTAmerica-Medium';font-size: 20.4px;margin-bottom: 0;line-height: 0.9;}
.footer-flex.footer-flex3 .footer--name{font-weight: normal;color: #000;font-family: 'GTAmerica-Medium';font-size: 14px;margin-bottom: 0;line-height: 0.9;font-weight: normal;}

footer .contact-footer{padding-left: 40px;}

.footer--copyright{}
.footer--slash{padding-left: 20px; padding-right: 24px;font-weight: normal}
.footer--name{}
.wrapper.pie.section{background-color: #d9d9d9;}



/* html, body{height: 100% !important;} */
.about-page{padding-bottom: 40px;}
body{padding: 0;margin: 0;width: 100%;height: 100%;overflow: hidden;}
.mobile-descripcion{display:none;}
.tab-menu {display:none;}

/* Pixel Perfect */
header .logo{margin-left: -123px !important;margin-top: 5px !important;}
header .about{margin-left: 225px !important;margin-top: 5px !important;font-size: 35px !important;}
header #site-navigation{left: -22px !important;top: 112px !important;}
a.works3-0{margin-left: 174px !important;}
a.works4-0, a.works4-1{margin-left: 186px !important;}
a.works4-2{margin-top: 0 !important;}
.main-navigation {margin: 0 !important;}


/* pixel perfect Absolute */

#absolute-layout{position:relative !important;height: 584px !important;margin-top: 75px !important;margin-left: 50px;}
#new-header{position:absolute !important;width: 100% !important;}

.new_logo {}
.new_logo img{max-width: 280px !important;width: 272px !important;}

#new-header .new_logo{top: 0 !important;left: 0 !important;position:absolute !important;}
.titulo-works{position: absolute !important;margin: 0 !important;padding: 0 !important;z-index:102;top: 176px !important;left: 476px !important;}
#absolute-layout #site-navigation{top: 189px !important;left: 86px !important;position: absolute;width: 50px !important;}
#absolute-layout .new-about {font-size: 36px;top: 0 !important;left: 499px !important;font-family: 'GTAmerica-ExtendedRegular';display: block;color: #000;letter-spacing: 1px;text-decoration: none;position:absolute;}
#absolute-layout .address{top: 13px;position: absolute; right: 318px;display:flex; flex-direction: column;}
#absolute-layout .address p, #absolute-layout .address a, .social--container p, .social--container p a{font-size: 18.5px !important;line-height:28px !important;font-family: 'GTAmerica-Regular', arial, sans-serif;display: block;}
#absolute-layout .rrss{position: absolute;top: 13px; right: 66px;}


/* parent pages */
.images-works{background:none;}

/* work pages */
.txt-project {  display: flex !important; width: 100% !important;}
.txt-project p {  margin-top: 0 !important;}



/* mobile menu styling */
#responsive-menu-container, #responsive-menu-wrapper, #responsive-menu{background-color: #f0f0f0 !important;}
#responsive-menu .menu-item{border-top: 1px solid white !important;border-top: none !important;}
#responsive-menu-title-image img{width: 280px !important;padding-top: 50px;}
#responsive-menu-title{flex: 0 0 20% !important;}
.new_logo_container{padding-left: 20px !important;}
.responsive-menu-item-link{font-family: 'GTAmerica-ExtendedRegular';}
#responsive-menu-container #responsive-menu > li.responsive-menu-item:first-child > a{border-top: none;}
/* menu layout */
#responsive-menu-wrapper{display: flex;flex-direction: column;height: 100%; flex: 0 0 20%;position: fixed !important;width: 100%;padding: 20px;}

#responsive-menu-wrapper #responsive-menu{flex: 1 0 50% !important;padding-top: 100px;}
#responsive-menu-container #responsive-menu li.responsive-menu-item{padding: 2px 0;}
#responsive-menu-container #responsive-menu li.responsive-menu-item a{background-color: #f0f0f0 !important;color: #010101 !important;border: none !important;font-size: 39px !important;}
#contact--details-wrapper{display:flex; justify-content: space-between;padding: 20px;align-items: baseline;}
#responsive-menu-additional-content{ flex: 0 1 30% !important;display: flex;justify-content: space-between;flex-direction: column-reverse;}
#mobile-menu--about{position: absolute; top: 254px;width: 100%;}
#mobile-menu--about a{padding: 0;font-family: 'GTAmerica-ExtendedRegular';letter-spacing: 0.5px;font-size: 39px;line-height: 35px;}

.wrapper footer .main-navigation a{font-size: 36px !important;line-height: 1.2 !important;}

/* Parag CSS */

.above-img-txt {margin-top :0px;}
.new_logo_container, .new_menu_container {width:100% !important;padding-left:50px !important;}
.main-navigation .primary-menu {border-bottom: none;}

/* eugene css */

.mob-hide{display:block;}
.desk-menu {display : none !important;}


/* size of hamburger menu */
.responsive-menu-box {width: 44px !important;height: 44px !important;}

/* DIFFERENT PAGE CSS */
/* Workpages */
.page-template-work #absolute-layout{height: 200px !important;}
.page-template-work figure{width: 70.65%}
.page-template-work .mobile-padding-wrapper figure{ width: 100%;}
.page-template-work h1.mob-show{display: none;padding-bottom: 0px !important;}
.page-template-work .wrapper section {max-width: 100%;padding-right: 200px;margin: 0; }

/* about */
.page-template-about #absolute-layout{height: 460px !important;}
.page-template-about .about--header{position: absolute;top: 222px; left: 525px;}
.page-template-about .about--header h1{font-family: 'GTAmerica-ExpandedMedium';width: 100%;text-align: left;letter-spacing: 8px;font-size: 220px;line-height: 0.87;font-weight: 100 !important;}
.page-template-about .wrapper > section{max-width: 80% !important; margin: 90px auto 20px auto !important; float: none !important;}
.andrea-image{max-width: 100% !important;height: 800px !important;background-size: cover !important; background-repeat:no-repeat !important;background-position: center top !important;}

.works1-0{margin-left: 401px !important;max-width: 59.5% !important}

/* pixel perfect media queries */

/* everything above 1920px */
@media screen and (min-width: 1920px){
    #smoothup, #smoothup2{right: 140px !important;}
    #absolute-layout .address {position: absolute !important;right: auto !important;left: 1371px !important;}
    #absolute-layout .rrss {position: absolute !important;right: auto !important;left: 1645px !important;}
    .footer-flex.footer-flex3{flex: 1 0 40% !important;padding-left: 200px !important;}
}

/* base styles for smallest desktop */

@media screen and (min-width: 1201px) and (max-width: 1600px){

    #absolute-layout{width: 1133px;margin-top: 75px !important;margin-left: 50px;}

    /* #absolute-layout #site-navigation{top: 159px !important;left: 87px !important;} */

    #new-header .new_logo{top: 0 !important;left: 0 !important;}
    #absolute-layout .new-about {font-size: 36px;top: 0 !important;left: 472px !important;}

    #absolute-layout .address{right: initial !important;left: 772px !important;top: 13px !important;}
    #absolute-layout .rrss{right: initial !important;left: 1046px !important;top: 13px !important;}
    
    .titulo-works{top: 154px !important; left: calc(474px - 20px) !important;}
    .titulo-works h1{font-size: 165.6px;letter-spacing: 4px !important;}
    
    .page-template-about .about--header {top: 228px !important;left: 506px !important;}
    .page-template-about .about--header h1{font-size: 165.6px;letter-spacing: 4px !important;}
    .page-template-about #absolute-layout{height: 460px !important}

    /* footer styles */
    .social--container ul{display: none;}
    .wrapper footer .about{margin: 0;}
    .footer-flex.footer-flex3{padding-left: 40px;}
    .social--container .rrss {display: none !important;}

    .txt-about{margin: 0 0 60px 520px !important;max-width: 630px !important;}
    
}

@media screen and (min-width: 1025px) and (max-width: 1200px){

    #absolute-layout { /*bit*/
      background-color: green;
      /*//position: relative;*/
    }

    #absolute-layout .new-about {font-size: 36px;top: 0 !important;left: 361px !important;}

    #absolute-layout .address{ /*bit*/
      /*float:right;*/
      background-color: red;
      float:right;

      right: 0px!important;

      /*left:0!important;*/
       display: inline;
      /*position: relative;
      z-index: 999999;
     
      align-self: flex-end;*/
      /*right: initial !important;left: 635px !important;top: 13px !important;*/
    }
   
    /*#absolute-layout .rrss{display: none;}bit*/
    
    .titulo-works{top: 155px !important; left: 348px !important;}
    .titulo-works h1{font-size: 131.1px;}
    .page-template-about .about--header{left: 396px !important;}

    /* footer */
    .wrapper footer .txt-footer{display:none !important;}
    /* .wrapper footer .rrss{margin-top: 20px;display: block !important;} */
    .wrapper footer .social--container{flex-direction: row !important;}
    .social--container .rrss {display: block !important;}
    article.footer-flex.footer-flex2{padding-left: 140px !important;}
    ul.footer-flex.footer-flex2{padding-left: 40px !important;}

    .txt-about{margin: 0 0 60px 400px !important;}
}


/**** TABLET - Large ****/
@media screen and (max-width: 1024px) { 

    .mobile-padding-wrapper{padding: 0 20px !important;}
    figure.images-works{ height: 400px !important;background-size: cover !important;background-position: center !important;background-repeat: no-repeat !important;padding: 0; margin: 10px 0 !important;}
    .wrapper.pie.section{background:#d9d9d9;margin-top: 24px;}
    
    #absolute-layout {
     /* background-color: teal;*/
    }
    
    /*#absolute-layout .rrss{display:none !important;}bit*/

    .txt-about p:nth-of-type(1){padding-right:0;}
    .txt-about p:nth-of-type(2){padding-left:0;}
    .txt-about p:nth-of-type(3){padding-right:0;}
    
    .page-template-about #absolute-layout{height: 400px !important}

    #absolute-layout{height: 384px !important;}
    #new-header .new_logo{top: 24px !important;left: 24px !important;width: 272px !important;}

    #absolute-layout #site-navigation{top: 190px !important; left: 113px !important;}
    #absolute-layout .new-about {top: 175px !important; left: 502px !important;}
    #absolute-layout .address{/*bit*/
      top: 310px !important;
      left: 502px !important; 
      background-color: pink;
      width: 100%;
    }

    .titulo-works h1{top: 460px !important;left: 97px !important;font-size: 109px !important;letter-spacing: 11px;line-height: 0.92;position: absolute;z-index: 100;max-width: 200px;}
   


    /* about page */
    
    .wrapper.about-page{position:relative;}
    .page-template-about .wrapper section{max-width: 100%;width: 100% !important;padding: 0 !important; margin: 0 auto !important;display: flex;flex-direction: column;padding-top: 260px !important;}
    .page-template-about .about--header {left: 152px !important;top: 40px !important;}
    .page-template-about .about--header h1{font-size: 170px;}
    /* modify for tablet layout ALIGNMENT */
    .about-page section header{width: 100% !important; padding-left: 30% !important;}
    .wrapper > section header h1{margin: 0 !important;}
    .about-page section .txt-about{width: 100%;margin: 0;padding: 0 0 0 86px !important;}
    .about-page section .txt-about p{font-size: 22px;line-height: 1.5;margin: 0 0 60px 0;}
    .txt-about {margin: 0 0 60px 10px !important;max-width: 100% !important;}

    .e-mark-flex-container{display: flex; flex-direction: column;border-top:1px solid #000;}
    .servicios{width: 100%;float:left; padding-top:40px;}
    .servicios{width: 100%;float:left; border-top:none;padding-top:40px;}
    
    /* Tablet resizing of images */
    .works--container section > a > figure {background-size: cover !important; background-position: center center !important; background-repeat: no-repeat !important;width: 100% !important; height: 496px !important;}
    .works--container section > a > figure img {display: none !important;}
    .images-works{background-size: cover !important; background-position: center center !important; background-repeat: no-repeat !important;width: 100% !important; height: 400px !important;}

    /* works pages */
    .works--spacer{height: 50px; width: 100%;margin-top: 20vh;}
    #works1, #works2, #works3, #works4{padding: 0 20px;margin: 0 !important}
    #works1 .works1-0{margin:0 0 0 0 !important;width:100% !important;max-width:100% !important;padding: 20px 0 0 0 !important;}
    #works2 .works2-0, #works3 .works3-0, #works4 .works4-0{margin:0 0 0 0 !important;width:100% !important;max-width:100% !important;padding: 20px 0 0 0 !important;}
    #works1 .works1-1, #works2 .works2-1, #works3 .works3-1, #works4 .works4-1{margin:0 !important;width:100% !important;max-width:100% !important;padding: 20px 0 0 0 !important;}
    #works1 .works1-2, #works2 .works2-2, #works3 .works3-2, #works4 .works4-2{margin:0 !important;width:100% !important;max-width:100% !important;padding: 20px 0 0 0 !important;}

    /* work pages */
    .page-template-work .wrapper figure, .page-template-work video{width: 100% !important; max-width: 100% !important;margin: 0 !important; padding: 0 !important;}
    .page-template-work h1{font-size: 20px !important; line-height: 1.2 !important;margin-bottom: 0 !important;margin-left: 0;}
    .page-template-work .wrapper section{width: 100% !important; max-width: 100% !important; padding: 30px 23px; margin: 0;display: flex; flex-direction:column;}
    .page-template-work .wrapper section ul{margin: 80px 0 0 0 !important;width: 100%;}
    .page-template-work .wrapper .txt-project{display:flex; flex-direction: column;margin-bottom: 0 !important;width: 100% !important;}
    .page-template-work .wrapper .txt-project h2{margin: 0 !important;font-size: 18px;width: 100%;padding: 40px 0;}
    .page-template-work .txt-project p{margin: 0 !important;font-size: 16px;line-height:1.4;width: 100%;}
    .page-template-work .wrapper ul li strong{font-size: 15px;line-height:1.4;}
    .page-template-work .wrapper ul li span{font-size: 14px;line-height:1.4;max-width: 250px;}
    .page-template-work #absolute-layout{height: 460px !important;}

    /* parent pages */
    .images-works img{display:none;}
    header.titulo-works{margin: 0 !important;padding: 0 24px !important;width: 100% !important;padding-left: 8% !important;position:initial !important;}

    
    
    /* footer */
    .wrapper footer{display: flex !important; flex-direction: row;padding: 70px 23px !important;}
    /* .wrapper footer #site-navigation{display:block !important;width: 100% !important;} */
    .wrapper footer .social--container p{font-size: 18px !important;}
    .footer-flex.footer-flex3{display: none !important;}
    article.footer-flex.footer-flex2{padding-left: 40px !important;}
    ul.footer-flex.footer-flex2{padding-left: 140px !important;}
    /* .social--container .rrss {} */

    .page-template-work section ul li strong{width:30%;}
    
}

/**** TABLET - Between Mobile and Tablet ****/

@media screen and (max-width: 768px){
    .wrapper footer{display: flex !important; flex-direction: column !important;padding: 60px 0 !important;}
    .wrapper footer #site-navigation{display:none !important;}
    .wrapper footer.txt-footer{display:block !important;}
    .wrapper footer .about{display: none !important;}
    .footer-flex.footer-flex3{display: block !important;}
    .footer-flex.footer-flex3 p:nth-child(2){display: none !important;}
    .social--container .rrss{display: block !important;padding-left: 40px;}
    article.footer-flex.footer-flex2{order: 4 !important;margin: 0 !important;width: 70% !important;padding-left: 40px !important;}
    ul.footer-flex.footer-flex2{order: 4 !important;margin: 0 !important;width: 70% !important;padding-left: 40px !important;}
    .wrapper footer .social--container{padding-top: 13px !important;}

    #absolute-layout .new-about{left: 401px !important}
    #absolute-layout .address{left: 401px !important}
    
    .about-page section .txt-about p{}
    .footer-flex.footer-flex3 p:nth-child(1){max-width: 70%;}
}

/**** MOBILE ****/

@media screen and (max-width: 540px) { 

    .page-template-about #absolute-layout{display: none !important;}

    .works--container section > a > figure {background-position: center top !important;height: 229px !important;}
    .images-works{background-position: center top !important;height: 229px !important; }
    

    #absolute-layout #site-navigation{top: 60px !important; left: 10px !important;}
    .page-template-about .about--header{top: 50px !important; left: 20px !important;}
    .page-template-about .wrapper section{padding-top: 0 !important;}
    /* .page-template-about .about--header h1{font-size: 8vw;} */

    .page-template-about #absolute-layout{height: 100px !important;}

    button#responsive-menu-button .responsive-menu-box{margin-right: 8px !important;}
    .page-template-work #absolute-layout{height: 0 !important;}

    .contact--details-mob{}
    
   /* #absolute-layout .new_logo{display: none !important;}*/ /*//bit*/
    article.footer-flex.footer-flex2{padding-left: 0 !important;}
    ul.footer-flex.footer-flex2{padding-left: 40px !important;}
    .mob-hide{display:none;}
    
   /* #absolute-layout .new-about{display: none !important;}*//*bit//*/
   /* #absolute-layout .address{display: none !important;}*//*bit//*/

    #new-header .new_logo{display: none !important;}
    .titulo-works h1{top: 40px !important; left: 22px !important;font-size: 68.75px !important;max-width: 200px !important;letter-spacing: 2px !important;}
    #absolute-layout{;margin-top: 50px !important;}

    /* #hola{padding-top: 0 !important;} */
    .works--spacer{height: 0; width: 100%;margin-top: 95px;}

    button#responsive-menu-button{display: flex !important; justify-content: flex-end !important;width: 100% !important;top: 0 !important; left: 0 !important;background-color: #F0F0F0 !important;}

    .wrapper{padding: 0 24px;}

    /* hide site navigation in footer */
    
    .wrapper footer{display: flex !important; justify-content: center; align-items: center; padding: 0 !important;height: 300px;}
    .wrapper footer #site-navigation{display:none !important;}
    .wrapper footer.txt-footer{display:block !important;}
    .wrapper footer .about{display: none !important;}
    .footer-flex.footer-flex3{display: block !important;}
    .footer-flex.footer-flex3 p:nth-child(2){display: none !important;}
    .social--container .rrss{display: block !important;}
    article.footer-flex.footer-flex2{order: 4 !important;margin: 0 !important;width: 100% !important;}
    /* ul.footer-flex.footer-flex2{order: 4 !important;margin: 0 !important;width: 100% !important;} */
    .wrapper footer .social--container{padding-top: 13px !important;}
    .footer-flex.footer-flex3 p:nth-child(1){max-width: 100% !important; width: 100% !important;}

    /* hide scroll up */
    #smoothup, #smoothup2{display: none !important;}
    
    
    /* change size of images on mobile as per design */
    .works a figure img{display:none !important;}
    figure.images-works img{display:none !important;}
    /* need to embed this into works template to use PHP? */
    .works a figure { height: 496px !important;background-size: cover !important;background-position: center !important;background-repeat: no-repeat !important;}
    figure.images-works{ height: 210px !important;background-size: cover !important;background-position: center !important;background-repeat: no-repeat !important;padding: 0; margin: 10px 0 !important;}
    footer .txt-footer p:first-of-type{display:block !important;}
    /* hide T&C */
    footer .txt-footer p:last-child {display: block;}
    /* change layout on mobile */
    footer .contact-footer{display: flex;flex-direction: column;}
    /* change main footer layout on mobile */
    footer{display: flex; flex-direction: column;}
    /* spacing */
    footer .rrss{order: 1;margin-top: 20px;}
    footer .txt-footer{order:3;}
    

    .contact--details-mob{color: #000000 !important}
    


    
    /* .tab-menu {display : none !important;}
    .new_logo_container {display:none !important;} */
    
    /* header text fix */
    .page-template-work .mobile-descripcion{display:block;width: 100%;padding: 20px 0;text-align: left;}
    .page-template-work #cabecera{width: 100%;margin: 0;}
    
    header#cabecera a, header ul, header article, header nav {display:nonne;}
    
    .about-page section{width: 100% !important;margin: 0 !important;max-width: 100% !important; display: flex;flex-direction: column;}
    .about-page section figure{height: 300px !important;margin: 20px 0 0 0 !important;}
    /* .page-template-about figure{} */
    .about-page section header, .about-page section .txt-about, .about-page .servicios{padding: 0 !important;}
    .about-page section header h1{font-size: 40px;}

    .about-page section .txt-about p{width: 100%;margin-bottom: 20px !important;}

    /* work page */
    .page-template-work .wrapper section{padding: 15px 0 30px 0; margin: 0;}
    .page-template-work .wrapper .txt-project h2{padding: 0;}
    .txt-project p{padding: 0 !important;}
    .page-template-work .wrapper section ul{margin-top: 20px !important;}
    .page-template-work h1.mob-show{display: block;padding-bottom: 40px !important;}

    /* about page */
    .page-template-about .wrapper.about-page{position:relative;}
    .page-template-about .wrapper section{margin-top: 190px !important;}
    .page-template-about .about--header h1{font-size: 120px !important;}
    .page-template-about .wrapper > section{max-width: 100% !important;}

    /* bug fix */
    .about-page .servicios:nth-of-type(2){margin-bottom: 0;}
    .about-page .servicios h2{margin-bottom: 0 !important;}
    .about-page .servicios:nth-of-type(3) h2{margin-left: 0 !important;}
    .about-page .servicios:nth-of-type(5) h2{margin-left: 0 !important;}

    .about-page .servicios{border: none !important;width: 100% !important;padding-top: 15px;padding-left: 0 !important;}
    .servicios:nth-of-type(2n+1) h2{margin-left:0;}
    .about-page .servicios h2{font-size: 20px; line-height: 1.2;margin-top: 30px;}
    .about-page .servicios ul{margin: 10px 0 0 0 !important;width: 100% !important;}
    .about-page .servicios ul li{font-size: 18px; line-height:1.5;}

    .wrapper{padding: 0 20px;}

    
    footer article{padding: 0 !important;}
    footer #site-navigation{padding: 0 !important;order: 1;}
    
}

@media screen and (max-width: 375px) { 
    header.titulo-works{padding-left: 20px !important;}
    #absolute-layout{margin-left: -9px !important;}
}



/*//// Bit ///// RWD MENU /////
/////////////////////////////*/


/*//aislamiento para poder borrar clase en mq*/
@media screen and (min-width: 541px) and (max-width: 1200px) { 
#absolute-layout  .rrss {
    display: none;
  }

}



.bit-rwd-menu {}

.bit-rwd-menu_switch {
  display: none;
}

@media screen and (max-width: 540px) { 
  
  .rrss {
    display: block;
  }

  
  .bit-rwd-menu {
    display: block;
    background-color: orange;
    z-index: 9999999;
    height: 100vh;
  }


  .bit-rwd-menu_switch {

    display:inline-block;
    float: right;

  }


}















